.todo-entry{
    border: solid purple;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.todo-entry h4{

}

.todo-entry h4:hover{
    cursor: pointer;
    color: darkcyan;
}